{% extends "base.html" %}

{% block content %}

    <div ng-app="memeEngineCreate" ng-controller="CreateMemeController">
        <div class="row">
            <div class="col-md-7">
                <div>
                    <canvas id="meme-canvas"></canvas>
                </div>
            </div>
            <div class="col-md-4">
                <div ng-if="templates">
                    <div ng-if="errMsg" class="alert alert-danger">[[errMsg]]</div>

                    <div class="form-group">
                        <label>Template</label>
                        <select class="form-control" ng-model="$parent.selectedTemplate"
                                ng-options="template.name for template in templates"
                                focus
                        ></select>
                    </div>

                    <div class="form-group">
                        <input type="text" ng-model="texts.topText"
                               ng-keyup="writeText()" id="top-text"
                               placeholder="Top Text"
                               class="form-control"
                          >
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="texts.bottomText"
                               ng-keyup="writeText()" id="bottom-text"
                               placeholder="Bottom Text"
                               class="form-control"
                        >
                    </div>
                    <div>
                        <button class="btn btn-danger"
                                ng-disabled="!selectedTemplate || uploading"
                                ng-click="uploadMeme()">Create!
                        </button>
                    </div>
                </div>
                <div ng-if="!templates">
                    <i class="fa fa-2x fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_head %}
<script src="/static/vendor/angular/angular.js"></script>
<script src="/static/vendor/canvas-text-wrapper/CanvasTextWrapper.js"></script>
<script type="text/javascript">
(function(){

    var app = angular.module("memeEngineCreate", []);

    app.config(function($interpolateProvider){
        $interpolateProvider.startSymbol("[[");
        $interpolateProvider.endSymbol("]]");
    })
    .config(function($logProvider){
        $logProvider.debugEnabled(true);
    })
    .config(function($locationProvider) {
        $locationProvider.html5Mode({
            enabled: true,
            requireBase:false
        });
    });


    var clamp = function(num, min, max){
        return Math.min(Math.max(num, min), max);
    }

    var lerp = function(start, end, fraction){
        return start + fraction * (end - start)
    }

    var getFontSize = function(width, height, text){
        var maxHeight = height / 8;
        var minHeight = height / 12;

        var fontSize = lerp(maxHeight, minHeight, text.length * 5 / width);

        return clamp(fontSize, minHeight, maxHeight);
    };

    app.controller("CreateMemeController", [
            "$scope", "$http", "$location",
            function($scope, $http, $location){

        $scope.errMsg = null;
        $scope.uploading = false;
        $scope.memeImage = new Image();
        $scope.memeCanvas = document.getElementById("meme-canvas");
        $scope.templates = null;
        $scope.selectedTemplate = null;
        $scope.texts = {
            topText: "",
            bottomText: "",
        };

        $scope.$watch("selectedTemplate", function(newV, oldV) {
            if (!newV) return;
            $scope.setSrc(newV);
        });

        var x, y;
        var context = $scope.memeCanvas.getContext('2d');

        $http.get("/rpc/list_templates").success(function(data){
            $scope.templates = data.data.templates;

            var search = $location.search();
            if (!search.key) return;

            var template = _.find($scope.templates, function(template){
                return template.key === search.key;
            });
            if (!template) return;

            $scope.selectedTemplate = template;
        });

        $scope.writeText = function() {
            context.drawImage($scope.memeImage, 0, 0);
            new CanvasTextWrapper($scope.memeCanvas, $scope.texts.topText, {
                font: getFontSize($scope.memeCanvas.width, $scope.memeCanvas.height, $scope.texts.topText) + 'px Impact',
                paddingY: 10,
                textAlign: "center",
                verticalAlign: "top",
                strokeText: true
            });
            new CanvasTextWrapper($scope.memeCanvas, $scope.texts.bottomText, {
                font: getFontSize($scope.memeCanvas.width, $scope.memeCanvas.height, $scope.texts.bottomText) + 'px Impact',
                paddingY: 10,
                textAlign: "center",
                verticalAlign: "bottom",
                strokeText: true
            });
        }

        $scope.setSrc = function(template){
            $scope.memeImage.src = "/image?key=" + template.key;
        };

        $scope.uploadMeme = function() {
            if (!$scope.selectedTemplate) return;

            $scope.uploading = true;

            var canvasData = $scope.memeCanvas.toDataURL();
            data = {
                texts: $scope.texts,
                image: canvasData,
                template: $scope.selectedTemplate
            }

            $http.post("/rpc/upload_meme", data).success(function(data){
                window.location.href = "/meme/" + data.data.id;
            }).error(function(data, status, headers){
                $scope.errMsg = "Failed to upload: " + status
                $scope.uploading = false;
            });

        };

        $scope.memeImage.onload = function(){

            $scope.memeCanvas.width = $scope.memeImage.width;
            $scope.memeCanvas.height = $scope.memeImage.height;

            context.drawImage($scope.memeImage, 0, 0);
            context.fillStyle = 'white';
            context.strokeStyle = 'black';
            context.lineWidth = 2;
            $scope.writeText();
        };


    }]);

})();
</script>
{% endblock %}
