{% extends "base.html" %}
{% from 'macros/pagination.html' import paginator %}

{% block content %}
    <div class="text-center">
        {{ paginator(offset, limit, args, memes|length) }}
    </div>
    <hr>
    {% for template in templates %}
        <a href="/template/{{template.key().id()}}">
            <div class="thumbnail-img">
                <img width="{{template.thumb_width}}", height="{{template.thumb_height}}" src="/image?key={{template.key()}}">
            </div>
        </a>
    {% endfor %}
    <hr>
    <div class="text-center">
        {{ paginator(offset, limit, args, memes|length) }}
    </div>
{% endblock %}
