<div ng-repeat="meme in memes" class="thumbnail-container">
    <div class="thumbnail-img">
        <a ng-href="/meme/[[meme.id]]">
            <img class="thumbnail-img" width="[[meme.thumb_width]]", height="[[meme.thumb_height]]" ng-src="/image?key=[[meme.key]]">
        </a>
    </div>
    <hr>
    <div class="thumbnail-footer">
        <a ng-href="/meme/[[meme.id]]">
            <span class="pull-left num-comments">[[meme.num_comments]] <i class="fa fa-comments"></i></span>
        </a>

        <span class="pull-right votes">
            <span title="+[[meme.votes_up]]/-[[meme.votes_down]]" class="vote">[[ meme.votes_up - meme.votes_down ]]</span>
            <a class="vote" title="Dislike!" ng-click="vote(meme, -1)">
                <i ng-class="{
                        'fa-thumbs-down': meme.score === -1,
                        'fa-thumbs-o-down': meme.score !== -1}"
                   class="fa fa-thumbs-o-down"></i>
            </a>
            <a class="vote" title="Like!" ng-click="vote(meme, 1)">
                <i ng-class="{
                        'fa-thumbs-up': meme.score === 1,
                        'fa-thumbs-o-up': meme.score !== 1}"
                   class="fa fa-thumbs-o-up"></i>
            </a>
        </div>
    </div>

</div>

<hr>

<div class="btn-group">

    <a class="btn btn-danger"
       ng-href="?offset=0"
       ng-class="{disabled: (search.offset|int) === 0}"
    ><i class="fa fa-angle-double-left"></i></a>

    <a class="btn btn-danger"
       ng-href="?offset=[[(search.offset|int) - (search.limit|int)]]"
       ng-class="{disabled: (search.offset|int) === 0}"
    ><i class="fa fa-angle-left"></i></a>

    <a class="btn btn-danger disabled"
    >Page [[ (((search.offset|int) + (search.limit|int))) / (search.limit|int) ]]</a>

    <a class="btn btn-danger"
       ng-href="?offset=[[(search.offset|int) + (search.limit|int)]]"
       ng-class="{disabled: memes.length < search.limit}"
    ><i class="fa fa-angle-right"></i></a>

</div>
