<a ng-repeat="template in templates" ng-href="/template/[[template.id]]">
    <div class="thumbnail-img">
        <img width="[[template.thumb_width]]", height="[[template.thumb_height]]" ng-src="/image?key=[[template.key]]">
    </div>
</a>
<hr>

<div class="btn-group">

    <a class="btn btn-danger"
       ng-href="?offset=0"
       ng-class="{disabled: (search.offset|int) === 0}"
    ><i class="fa fa-angle-double-left"></i></a>

    <a class="btn btn-danger"
       ng-href="?offset=[[(search.offset|int) - (search.limit|int)]]"
       ng-class="{disabled: (search.offset|int) === 0}"
    ><i class="fa fa-angle-left"></i></a>

    <a class="btn btn-danger disabled"
    >Page [[ (((search.offset|int) + (search.limit|int))) / (search.limit|int) ]]</a>

    <a class="btn btn-danger"
       ng-href="?offset=[[(search.offset|int) + (search.limit|int)]]"
       ng-class="{disabled: templates.length < search.limit}"
    ><i class="fa fa-angle-right"></i></a>

</div>

