{% macro paginator(offset, limit, args, count) -%}
    <div class="btn-group" style="padding-right: 10px;">
        {% if offset == 0 %}
            <a class="btn btn-danger disabled"><i class="fa fa-angle-double-left"></i></a>
        {% else %}
            <a class="btn btn-danger" href="/{{ update_qs(args, offset=0) }}"><i class="fa fa-angle-double-left"></i></a>
        {% endif %}

        {% if offset != 0 %}
            <a class="btn btn-danger" href="/{{ update_qs(args, offset=offset-limit) }}"><i class="fa fa-angle-left"></i></a>
        {% else %}
            <a class="btn btn-danger disabled"><i class="fa fa-angle-left"></i></a>
        {% endif %}

        <a class="btn btn-danger disabled">Page {{ ((offset+limit)/limit)|int}}</a>

        {% if count < limit %}
            <a class="btn btn-danger disabled"><i class="fa fa-angle-right"></i></a>
        {% else %}
            <a class="btn btn-danger" href="/{{ update_qs(args, offset=offset+limit) }}"><i class="fa fa-angle-right"></i></a>
        {% endif %}
    </div>
{% endmacro %}
