.container-fluid {
    margin-bottom: 20px;
}

.btn {
    border-radius: 1px;
}

.form-control {
    border-radius: 2px;
}

.navbar-nav>li>a {
    margin-top: 9px;
    line-height: 0px;
}

blockquote {
    padding: 0px 15px;
    font-size: 15px;
}

.meme-img {
    max-width: 100%;
}

.template-img {
    max-width: 100%;
}

div.thumbnail-img {
    display: inline-block;
    vertical-align: middle;
    line-height: 410px;
    text-align: center;
    height: 410px;
    width: 410px;
    margin: 5px;
    position: relative;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 1px rgba(216, 216, 216, 1);
}

span.num-comments {
    position: absolute;
    top: 185px;
    left: 15px;
    z-index: 10;
    color: #d9534f;
    font-family: Verdana, Geneva, sans-serif;
    font-size: large;
    max-height: 20px;
}

span.delete-meme {
    position: absolute;
    top: -190px;
    left: 10px;
    z-index: 10;
    color: #d9534f;
}

span.num-comments {
}

.navbar-default {
    background-color: #343434;
    border-color: #a3114f;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ecdbff;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ecdbff;
    background-color: #a3114f;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ecdbff;
    background-color: #a3114f;
}
.navbar-default .navbar-toggle {
    border-color: #a3114f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #a3114f;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #ecdbff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ecdbff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ecdbff;
        background-color: #a3114f;
    }
}
